@import "../node_modules/bootstrap/scss/bootstrap";

$primary:      #5265E1; 
$secondary:     #FA5959;

body {
    height: 100vh;
}

.btn-success:hover {
    color: $secondary;
    background-color: #ffffff;
    border-color: $secondary;
    font-weight: bold;
    
}


.btn-success {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
    
}

.btn-light:hover {
    border: 2px solid rgb(58, 57, 57);
    font-weight: bold;
}


.btn-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }
  
.btn-primary:hover {
    color: $primary;
    background-color: white;
    border-color: #5265E1;
    font-weight: bold;
  }

#linknav:hover {
    color: $secondary;
    font-weight: bold;
}

  section {
    padding-top: 70px;

    h1 {
        padding-top: 40px;
        padding-bottom: 10px;      
    }
}
   


h3 {
    text-align: center;
}

.features {
    text-align: center;
}


.nav-item {
        padding: 20px;
    }

#navlink2 {
    color: black;
    border-bottom: .5px solid rgb(170, 169, 169);
    padding-bottom: 15px;
}



#navlink2:hover {
    color: $secondary;
    font-weight: bold;
  
}



#contenidor2 {
    padding-top: 40px;
}

#oneclick {
    padding-top: 40px;
}


.card-img-top {
    width: 60px;

}

.card :nth-child(1) {
    
   
}

#columcards {
  
}

.card-body {
    text-align: center;
    height: 250px;
}

.card:nth-child(1) {
    margin-top: 0px;
    
}

.card:nth-child(2) {
    margin-top: 40px;
    @media (max-width: 768px) {   
        margin-top: 0px;
        }
    
}


.card:nth-child(3) {
    margin-top: 80px;
    @media (max-width: 768px) {   
        margin-top: 0px;
        }
    
}

.card-img-top-dots {
   display: flex;
   width: 100%;
   margin: 0px;
   padding: 0px;
 
}


#install {
    font-size: 11px;
    width: 100%;
    background-color: $primary;
}

.accordion {
    width: 100vw;
    display: flex;
    align-content: center;
}

footer {
    background-color:$primary;
    color: white;
}

.btn-danger {
    color: white;
    background-color: $secondary;
    border: $secondary;
}

.btn-danger:hover {
    background-color: white;
    color: $secondary;
    border: 1px solid $secondary;
}


.socialmedia {
    display: flex;
    align-content: flex-end;
    justify-content: end;
}

.socialmedia img {
    background-image: $secondary;
}

.btn-info {
    background-color: none;
    border-color: none;
}

#navitem3 {
    color: white;
  
}

#navitem3:hover {
    color: $secondary;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0rem;
    font-size: 0.875em;
    color: white;
    background-color: $secondary;
    padding-left: 5px;
    padding-bottom: 5px;
    font-style: italic;
  }

svg:hover {
    fill: red;
}

    