@import "../node_modules/bootstrap/scss/bootstrap";

$primary:      #5265E1; 
$secondary:     #FA5959;

body {
    height: 100vh;
}

.btn-success:hover {
    color: #fff;
    background-color: #FA5959;
    border-color: #FA5959;
  }

  .btn-success {
    color: #fff;
    background-color: #FA5959;
    border-color: #FA5959;
  }

  section {
    padding-top: 70px;

    h1 {
        padding-top: 40px;
        padding-bottom: 10px;      
    }
}
   


#imatgelogo {
  
}

 

  .btn-primary {
    color: #fff;
    background-color: #5265E1;
    border-color: #5265E1;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #5265E1;
    border-color: #5265E1;
  }

h3 {
    text-align: center;
}

.features {
    text-align: center;
}


#componenttabs {
    display: flex;
    justify-content: center;
    padding-top: 10px;

    .nav-item {
        padding: 20px;
    }
}

#contenidor2 {
    padding-top: 40px;
}

#oneclick {
    padding-top: 40px;
}


.card-img-top {
    width: 60px;

}

.card :nth-child(1) {
    
   
}

#columcards {
  
}

.card-body {
    text-align: center;
    height: 250px;
}

.card-img-top-dots {
   display: flex;
   width: 100%;
   margin: 0px;
   padding: 0px;
 
}


#install {
    font-size: 11px;
    width: 100%;
    background-color: $primary;
}

.accordion {
    width: 100vw;
    display: flex;
    align-content: center;
}

.footer1 {
    background-color: red;
}