@import "../node_modules/bootstrap/scss/bootstrap";

$primary:      #5265E1; 
$secondary:     #FA5959;


.btn-success:hover {
    color: #fff;
    background-color: #FA5959;
    border-color: #FA5959;
  }

  .btn-success {
    color: #fff;
    background-color: #FA5959;
    border-color: #FA5959;
  }

  section {
    padding-top: 70px;

    h1 {
        padding-top: 40px;
        padding-bottom: 10px;      
    }
   
  }

  .btn-primary {
    color: #fff;
    background-color: #5265E1;
    border-color: #5265E1;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #5265E1;
    border-color: #5265E1;
  }

h3 {
    text-align: center;
}

.features {
    text-align: center;
}


#componenttabs {
    display: flex;
    justify-content: center;
    padding-top: 10px;

    .nav-item {
        padding: 20px;
    }
}

#contenidor2 {
    padding-top: 40px;
}

#oneclick {
    padding-top: 40px;
}

#targetes {
    height: 50px;
}

.card-img-top {
    width: 60px;

}

.card {
    width: 200px;
}

#columcards {
  
}

.card-body {
    text-align: center;
    border: solid .5px grey;
    height: 250px;
}

